
.icon-home:before { content: '\e804'; } /* '' */
.icon-download-cloud:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */