@import
'colors.scss',
'typography.scss',
'elements.scss';

// button _classes

a {
  @extend %transition;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    opacity: $devsec_opacity;
  }
}
