@import
'colors.scss',
'typography.scss',
'layout.scss';

//element _variables

%transition {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

//element _classes

.box-shadow {
  -webkit-box-shadow: 0px 30px 90px 0px rgba(33,35,52,0.3);
  -moz-box-shadow: 0px 30px 90px 0px rgba(33,35,52,0.3);
  box-shadow: 0px 30px 90px 0px rgba(33,35,52,0.3);
}

.svg-shadow {
  filter: drop-shadow(0px 30px 60px rgba(33,35,52,0.2));
}

.hover-shadow {
  @extend %transition;
  cursor: pointer;
  -webkit-box-shadow: initial;
  -moz-box-shadow: initial;
  box-shadow: initial;

  &:hover {
    -webkit-box-shadow: 0px 0px 90px 0px rgba(33,35,52,0.3);
    -moz-box-shadow: 0px 0px 90px 0px rgba(33,35,52,0.3);
    box-shadow: 0px 0px 90px 0px rgba(33,35,52,0.3);
  }
}

.tag {
  width: auto;
  height: $medium_margin;
  line-height: $medium_margin;
  padding-left: $small_margin;
  padding-right: $small_margin;
}

//background image _classes

#bg-mintangle {
  background-image: url('/images/mintangle-bg.png');
  position: absolute;
  right: 0;
  width: 75%;
  height: 75%;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}

#bg-building {
  background-image: url('/images/building-bg.png');
  background-size: cover;
  background-attachment: fixed;
}

#bg-building2 {
  background-image: url('/images/building2-bg.png');
  background-size: cover;
  background-attachment: fixed;
}
