@import "colors.scss";

// local fonts

@font-face {
  font-family: "Galano Grotesque";
  src: url('/fonts/Rene Bieder - Galano Grotesque.otf') format('truetype');
  src: font-url('/fonts/Rene Bieder - Galano Grotesque.otf?#iefix') format('embedded-opentype'),
  font-url('/fonts/Rene Bieder - Galano Grotesque.otf') format('woff'),
  font-url('/fonts/Rene Bieder - Galano Grotesque.otf') format('truetype')
}

@font-face {
  font-family: "Galano Grotesque SemiBold";
  src: url('/fonts/Rene Bieder - Galano Grotesque SemiBold.otf') format('truetype');
  src: font-url('/fonts/Rene Bieder - Galano Grotesque SemiBold.otf?#iefix') format('embedded-opentype'),
  font-url('/fonts/Rene Bieder - Galano Grotesque SemiBold.woff') format('woff'),
  font-url('/fonts/Rene Bieder - Galano Grotesque SemiBold.ttf') format('truetype')
}

//font _variables

$regular_font: "Galano Grotesque";
$semibold_font: "Galano Grotesque SemiBold";

%heading_font {
  font-family: $regular-font;
  color: $devsec_black;
  -webkit-font-smoothing: antialiased;
}

%body_font {
  font-family: $regular-font;
  color: $devsec_gray;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

//font _classes

h1, h2, h3, h4 {
  @extend %heading_font;
}

p, small, a {
  @extend %body_font;
}

h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 1.8em;
  line-height: 1em;
}

h3 {
  font-size: 1.2em;
}

h4, p, a {
  font-size: 1em;
}

small {
  font-size: 10px;
}

strong {
  font-family: $semibold_font;
  font-weight: initial;
}

.t-upper {
  font-family: $semibold_font;
  font-weight: initial;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.t-height {
  line-height: 1.6em;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}
