<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="/index.html" id="nav-logo">
          <img src="/images/hardening_logo.png" style="width: 45px;"/>
          DevSec Hardening Framework
        </a>
      </h1>

    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="/features/">Features</a></li>
      <li><a href="/articles/">Articles</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/docs/">Docs</a></li>
      <li><a href="/team/">Team</a></li>
      <li><a href="https://github.com/dev-sec">GitHub</a></li>
    </ul>
  </section>
</nav>
