{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section class="landing_container imprint">
  <div id="landing-bg"></div>

    <div class="row">
      <div class="large-10 medium-12 small-12 small-centered columns box">
      <div>
        <div class="row">
          <div class="small-12 columns">
            <h1>Imprint</h1>
          </div>
        </div>
        <div class="row textrow">
          <div class="medium-12 small-12 text-center columns">
            <p>
              DevSec Hardening Framework Team<br/>
              c/o Christoph Hartmann<br/>
              Lievelingsweg 37<br/>
              53119 Bonn, Deutschland
            </p>
          </div>
        </div>
        <div class="row textrow design">
          <div class="small-12 columns text-center">
            <p>Designed by</p>
            <p><a href="mailto:dominik.richter@gmail.com">Dominik Richter</a></p>
          </div>
        </div>
      </div>
      </div>
    </div>

</section>
{{ end }}
