{{ define "main" }}
<section class="contributing content">
    <div class="row">
        <h1>{{ .Title }}</h1>
    </div>
    <div class="row">
        <div class="large-12 medium-12 small-12 small-center columns">
        {{ .Content }}
        </div>
    </div>
</section>

<div class="explain" id="team">
  <section class="" id="contributors">
    <div class="contacts" style="margin-top: 2rem">
      <div class="row">
        <div class="large-12 medium-12 small-12 text-center columns">
          <h2 style="margin-bottom: 0.8rem">DevSec Hardening Framework Project Founders</h2>
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="row team-box">
          <div class="large-4 medium-4 small-4 text-center columns">
              <a href="https://github.com/arlimus">
              <img src="https://avatars0.githubusercontent.com/u/1307529?s=400" >
            </a>
          </div>
          <div class="large-8 medium-8 small-8 columns description">
              <h3>Dominik Richter</h3>
              <p>Dominik is a leading expert at both security and automation. He strengthened his abilities at Deutsche Telekom, where he headed the security of Telekom's first OpenStack Cloud. He is the inventor of the Hardening Framework and a key driver for this project. By the way, he speaks Puppet and Chef natively.</p>
          </div>
      </div>
      <div class="row team-box">
          <div class="large-4 medium-4 small-4 text-center columns">
              <a href="https://github.com/atomic111">
              <img src="https://avatars0.githubusercontent.com/u/7220740?s=400" >
            </a>
          </div>
          <div class="large-8 medium-8 small-8 columns description">
              <h3>Patrick Münch</h3>
              <p>Patrick knows Security inside out. He is incredibly skilled at both protecting and hacking every systems he gets his hands on. His passion is the Penetration Testing of hard and software. He leads his own Penetration Testing Team at SVA GmbH to increase the security level of companies. He co-founded this project and validates all our tests and ensures our framework meets corporate security standards.</p>
          </div>
      </div>
      <div class="row team-box">
          <div class="large-4 medium-4 small-4 text-center columns">
              <a href="https://github.com/chris-rock">
                <img src="https://avatars3.githubusercontent.com/u/1178413?v=4" >
              </a>
          </div>
          <div class="large-8 medium-8 small-8 columns description">
              <h3>Christoph Hartmann</h3>
              <p>Christoph is one of the most knowledgeable full-stack engineers out there. He speaks countless languages, knows every core service, and mastered automation (even on Windows). He co-created InSpec, co-founded VulcanoSec and is leading the compliance engineering at Chef Software. Before, he was Technical Project Manager responsible for the DevSec Hardening Framework at Deutsche Telekom Laboratories.</p>
          </div>
      </div>
      <div class="row team-box">
          <div class="large-4 medium-4 small-4 text-center columns">
              <a href="https://github.com/ehaselwanter">
              <img src="https://avatars1.githubusercontent.com/u/18671?s=400" >
            </a>
          </div>
          <div class="large-8 medium-8 small-8 columns description">
              <h3>Edmund Haselwanter</h3>
              <p>Edmund is "the" expert for Chef and Puppet and knows every trick in the field. Edmund consults and trains customers in using Chef/Puppet and OpenStack. At Deutsche Telekom he currently shapes the new generation of TelCo automation. He created our unique blend of testing foundation for Hardening and is a core contributor to the project.</p>
          </div>
      </div>
    </div>
  </section>
</div>

{{ end }}
