{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<div class="explain" id="team">

<section class="" id="contributors">
  <div class="row">
    <div class="large-12 medium-12 small-12 text-center columns subtitle">
      <h2 style="margin-bottom: 0.8rem">Contributors</h2>
      <p>Thank you so much for all your great contributions!!</p>
    </div>
  </div>
  <div class="row contactsmall">

    <div class="small-12 text-center columns">
      {{ $dataJ := getJSON "data/contributors.json" }}

      {{ range $i, $r := $dataJ }}
        <div style="width: 190px;float: left;">
        <a href="{{ $r.html_url }}">
          <img src="{{ $r.avatar_url }}">
          <p>{{ $r.login }}</p>
        </a>
        </div>
      {{ end }}
    </div>
  </div>

  <div class="contacts" style="margin-top: 2rem">
    <div class="row">
      <div class="large-12 medium-12 small-12 text-center columns">
        <h2 style="margin-bottom: 0.8rem">DevSec Hardening Framework Project Founders</h2>
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="row team-box">
        <div class="large-4 medium-4 small-4 text-center columns">
            <a href="https://github.com/arlimus">
            <img src="https://avatars0.githubusercontent.com/u/1307529?s=400" >
          </a>
        </div>
        <div class="large-8 medium-8 small-8 columns description">
            <h3>Dominik Richter</h3>
            <p>Dominik is a leading expert at both security and automation. He strengthened his abilities at Deutsche Telekom, where he headed the security of Telekom's first OpenStack Cloud. He is the inventor of the Hardening Framework and a key driver for this project. By the way, he speaks Puppet and Chef natively.</p>
        </div>
    </div>
    <div class="row team-box">
        <div class="large-4 medium-4 small-4 text-center columns">
            <a href="https://github.com/atomic111">
            <img src="https://avatars0.githubusercontent.com/u/7220740?s=400" >
          </a>
        </div>
        <div class="large-8 medium-8 small-8 columns description">
            <h3>Patrick Münch</h3>
            <p>Patrick knows Security inside out. He is incredibly skilled at both protecting and hacking every systems he gets his hands on. He is responsible for the security of many mission-critical IT systems at Deutsche Telekom and knows countless critical vulnerabilities. He co-founded this project and validates all our tests and ensures our framework meets corporate security standards.</p>
        </div>
    </div>
    <div class="row team-box">
        <div class="large-4 medium-4 small-4 text-center columns">
            <a href="https://github.com/chris-rock">
              <img src="https://avatars3.githubusercontent.com/u/1178413?v=4" >
            </a>
        </div>
        <div class="large-8 medium-8 small-8 columns description">
            <h3>Christoph Hartmann</h3>
            <p>Christoph is one of the most knowledgeable full-stack developers out there. He speaks countless languages, knows every core service, and mastered automation (even on Windows). He is also the Technical Project Manager responsible for the Hardening Framework at Telekom Laboratories and co-founder of this project. He built our complete CI Infrastructure based on OpenStack and Jenkins.</p>
        </div>
    </div>
    <div class="row team-box">
        <div class="large-4 medium-4 small-4 text-center columns">
            <a href="https://github.com/ehaselwanter">
            <img src="https://avatars1.githubusercontent.com/u/18671?s=400" >
          </a>
        </div>
        <div class="large-8 medium-8 small-8 columns description">
            <h3>Edmund Haselwanter</h3>
            <p>Edmund is "the" expert for Chef and Puppet and knows every trick in the field. Edmund consults and trains customers in using Chef/Puppet and OpenStack. At Deutsche Telekom he currently shapes the new generation of TelCo automation. He created our unique blend of testing foundation for Hardening and is a core contributor to the project.</p>
        </div>
    </div>
  </div>
</section>


</div>
<!-- End Team -->
{{ end }}
