<div id="{{ .id }}" class="section bg-gray">
    <div class="row">
        <div class="inner">
            <div class="logo center"><i class=""></i>
            </div>

            <div class="header">
                <h2 class="title center">{{ .title }}</h2>
                <div class="description center">{{ .desciption }}</div>
            </div>

            <div class="row">
              {{ range .features }}
              <div class="large-3 medium-6 small-12 columns">
                  <h1><i class=""></i></h1>
                  <h4>{{ .title }}</h4>
                  {{ .description }}
              </div>
              {{ end }}
            </div>
            <div class="row center links">
              {{ range .links }}
              <a href="{{ .url }}" class="button"><i class="{{ .icon }}"></i><span>{{ .name }}</span></a>
              {{ end }}
            </div>
        </div>
    </div>
</div>
