<div id="overview" class="section bg-black">

  <div class="header">
    <h2 class="title center">Overview</h2>
    <div class="description center">Hardening Framework Components</div>
  </div>

  <div class="row">
    <div class="large-8 medium-12 small-12  small-centered columns feature-box">
      <div class="row features" data-equalizer>
        <div class="small-3 columns types" data-equalizer-watch>
          <div>
            <span class="green-checkmark">✓</span> Applications
          </div>
        </div>
        <div class="small-9 columns content" data-equalizer-watch>
          <div class="row">
            <div class="small-6 columns box mysql">
              <a href="#mysql-hardening">
                <h5>MySQL</h5>
              </a>
            </div>
            <div class="small-6 columns box postgres">
              <a href="#postgres-hardening">
                <h5>PosgreSQL</h5>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns box apache">
              <a href="#apache-hardening">
                <h5>Apache</h5>
              </a>
            </div>
            <div class="small-6 columns box nginx">
              <a href="#nginx-hardening">
                <h5>Nginx</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row features" data-equalizer>
        <div class="small-3 columns types" data-equalizer-watch>
          <div>
            <span class="red-checkmark">✗</span> Operations
          </div>
        </div>
        <div class="small-9 columns content" data-equalizer-watch>
          <div class="row">
            <div class="small-4 columns box deactivated">
              <a href="#">
                      <span>Logging / Monitoring</span>
                  </a>
            </div>
            <div class="small-4 columns box deactivated">
              <a href="#">
                      <span>User Management</span>
                  </a>
            </div>
            <div class="small-4 columns box deactivated">
              <a href="#">
                      <span>Patch-management</span>
                  </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row features" data-equalizer>
        <div class="small-3 columns types" data-equalizer-watch>
          <div>
            <span class="green-checkmark">✓</span> OS
          </div>
        </div>
        <div class="small-9 columns content" data-equalizer-watch>
          <div class="row">
            <div class="small-12 columns box ssh">
              <a href="#ssh-hardening">
                <h5>SSH Hardening</h5>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns box os">
              <a href="#os-hardening">
                <h5>Operating System Hardening</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row features" data-equalizer>
        <div class="small-3 columns types" data-equalizer-watch>
          <div>
            <span class="red-checkmark">✗</span> Network
          </div>
        </div>
        <div class="small-9 columns content" data-equalizer-watch>
          <div class="row">
            <div class="small-6 columns box deactivated">
              <a href="#">
                      <span>Intrusion Detection</span>
                  </a>
            </div>
            <div class="small-6 columns box deactivated">
              <a href="#">
                      <span>Firewall</span>
                  </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row features">
        <div class="small-3 columns"></div>
        <div class="small-9 columns">
          <div class="center">
            <span class="green-checkmark">✓</span> included &nbsp;&nbsp;&nbsp;
            <span class="red-checkmark">✗</span> not in scope
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
