{{ define "main" }}

  <!-- header -->

  <section id="header" class="container-height">
    <div class="row align-bottom">
      <div class="b-black small-9 pad-left fill-height">
        <div class="vertical">
          <h1 class="t-mint"><strong>dev</strong>ops + <strong>sec</strong>urity</h1>
          <h3 class="t-white">automatic server hardening</h3>
        </div>
      </div>
      <div class="b-gradient space-right pad-vertical-sm pad-horizontal-sm fit-height">
        <p class="t-white"><strong>Fork the devsec OSS project on github</strong></p>
      </div>
    </div>
    <chef-partner-logo></chef-partner-logo>
  </section>

  <!-- users -->

  <section id="users">
    <div class="space-vertical space-horizontal">
      <h4 class="t-purple t-upper">Our Users</h4>
      <p>Trusted by enterprises, globally.</p>
    </div>

    <section class="relative">
      <div class="space-horizontal space-top absolute">
        <div class="b-black center small-9 pad-vertical pad-horizontal-sm">
          <h4 class="t-white t-left"><strong>Industry is spending a fortune and useless spend on SIEM  – less than 1% success in preventing breaches.<strong></h4>
          <p class="t-mint t-left"><strong>Amit Yoran</strong> keynote at RSA conference 2015</p>
        </div>
      </div>
      <div class="b-purple container-height space-horizontal"></div>
    </section>
  </section>


  <!-- How it works -->

  <section id="howitworks" class="relative">
    <div class="center">
      <h4 class="t-purple t-upper">How it works</h4>
      <h2>Add security to your automation</h2>
      <p>Hardening adds a layer into your automation framework, that configures your
      operating systems and services.It takes care of difficult settings, compliance guidelines, cryptography
      recommendations, and secure defaults.</p>
    </div>
  </section>


  <section class="explain border-top" id="operating_systems">
    <div class="row">
      <div class="large-12 medium-12 small-12 text-center columns">
        <h2 style="margin-bottom: 0.8rem">Verified on</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-12 medium-12 small-12 text-center columns">
        <p>Supported and regularly tested</p>
      </div>
    </div>

    <div class="row"><div class="large-10 medium-12 small-12 small-centered columns">
      <div class="row supported_on">

        {{ $len := (len $.Site.Data.supported_os.os) }}
        {{ range $ind, $os := $.Site.Data.supported_os.os }}
        <div class="large-3 medium-3 small-6 text-center columns {{ if eq (add $ind 1) $len }} end {{ end }} ">
          <a href="#" class="{{ lower $os.name }}">
            <h3>{{$os.name }}</h3>
            <p>{{ delimit $os.versions ", " }}</p>
          </a>
        </div>
        {{ end }}

      </div>
      </div></div>

    </div>
  </section>

{{ end }}
